<form action="/login" method="post">
    <input type="text" name="nome" id="login" placeholder="Digite o usuario">
    <input type="text" name="data" id="password" placeholder="Digite a senha">
    <button type="submit">Logar</button>
</form>